/* You can add global styles to this file, and also import other style files */

/*

* {

  font-family: 'lato' !important;

}

@font-face {
  font-family: lato;
  src: url(/assets/font/Lato-Regular.ttf);
}
*/
